* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #33272a;
    background-color: #faeee7;
}
.title {
    padding: 10px;
    text-align: center;
    font-size: 40px;
}
.startpage {
    border: solid;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    font-size: 20px;
    border-width: 5px
}
.startpage p {
    background-color: white;
    color: black;
}
.startButton {
    background-color: #ff8ba7;
    border-radius: 5px;
    margin-top: 100px;
    position: relative;
    font-size: 25px;
    border-width: 4px;
}
div button:hover {
    background-color: #c3f0ca;
}
